<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9aAjCIF0-9tPYSmy-7VMzAgcNh2go9hs</string>
	<key>GCM_SENDER_ID</key>
	<string>644506119912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nuios.RateNUProfessor</string>
	<key>PROJECT_ID</key>
	<string>ratenuprofessor-1089f</string>
	<key>STORAGE_BUCKET</key>
	<string>ratenuprofessor-1089f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644506119912:ios:40aef57638a31a876fe35d</string>
</dict>
</plist>